<!--<nvd3 options="options" data="data"></nvd3>-->
<h2>Visualización 1</h2>


<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <div class="input-group date" data-provide="datepicker">
            <div class="input-group-addon">
                <label for="">Inico</label>
            </div>
            <input type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>        
    </div>
    <div class="col-md-4">
        <div class="input-group date" data-provide="datepicker">
            <div class="input-group-addon">
                <label for="">Fin</label>
            </div>
            <input type="text" class="form-control">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>        
    </div>
    <div class="col-md-2 col-md-offset-1">
        <div class="input-group">
            <button class="btn btn-success"><b>Procesar</b></button>
        </div>
    </div>

</div>

<hr>
<br>

<div id="container" style="height: 400px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>


<script>

$.get('/bla2', function(data){

	var data_mapa = []
	for (var i = 0; i < data.length; i++) {		
		for (var j = 0; j < data[i].length; j++) {
			data_mapa.push([i, j, data[i][j]])
		}
	}

	Highcharts.chart('container', {

    chart: {
        type: 'heatmap',
        marginTop: 40,
        marginBottom: 80,
        plotBorderWidth: 1
    },

    title: {
        text: 'Mapa de calor de la matriz M por periodos'
    },

    xAxis: {
        categories: ['topico1', 'topico2', 'topico3', 'topico4', 'topico5']
    },

    yAxis: {
        categories: ['topico1', 'topico2', 'topico3', 'topico4', 'topico5'],
        title: null
    },

    colorAxis: {
        min: 0,
        minColor: '#FFFFFF',
        maxColor: Highcharts.getOptions().colors[0]
    },

    legend: {
        align: 'right',
        layout: 'vertical',
        margin: 0,
        verticalAlign: 'top',
        y: 25,
        symbolHeight: 280
    },

    tooltip: {
        formatter: function () {
            return '<b>' + this.series.xAxis.categories[this.point.x] + '</b> del periodo 1, se relaciona en <br><b>' + this.point.value + '</b>  con <b>' + this.series.yAxis.categories[this.point.y] + '</b> del periodo 2';
        }
    },

    series: [{
        name: 'Sales per employee',
        borderWidth: 1,
        data: data_mapa,
        dataLabels: {
            enabled: true,
            color: '#000000'
        }
    }]

	});

})
   
</script>