<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualización</title>
    
    <link rel="stylesheet" type="text/css" href="/styles/vendor/nv.d3.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body ng-app="app">

    <div class="wrapper">
            <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Menú</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dataminnign ESPOL</p>
                <li ui-sref="listener">
                    <a href="#">Listener</a>
                </li>
                <li >
                    <a href="#graficos" data-toggle="collapse" aria-expanded="false">Gŕaficos</a>
                    <ul class="collapse list-unstyled" id="graficos">
                        <li ui-sref="grafico1"><a href="#">Matriz</a></li>
                        <li ui-sref="grafico2"><a href="#">Evolución</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#autores" data-toggle="collapse" aria-expanded="false">Contactos</a>
                    <ul class="collapse list-unstyled" id="autores">
                        <li><a href="https://github.com/fercarvo" target="_blank">Edgar Fernando Carvajal</a></li>
                        <li><a href="https://github.com/wjvelez" target="_blank">Washignton Vélez</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="https://github.com/fercarvo/DataMinningMicroB" target="_blank" class="text-center repo">Repositorio <i class="fa fa-github" style="font-size:20px"></i></a></li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Menú</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li ui-sref="home"><a href="#">Principal</a></li>
                            <li ui-sref="dias"><a href="#">Corpus</a></li>
                            <li ui-sref="listener"><a href="#">Listener</a></li>
                            <li ui-sref="grafico1"><a href="#">Gráfico 1</a></li>
                            <li ui-sref="grafico2"><a href="#">Gráfico 2</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container contenido">
                <ui-view></ui-view>
            </div>

            <div class="footer">
                <p class="text-center">Copyright 2017 &copy;</p>
                <p class="text-center"><span>| </span>Edgar Carvajal <span> - </span> Washington Vélez<span> |</span></p>
            </div>

           
        </div>
        
        <div class="overlay"></div>

    </div>

<%- include scripts.ejs %>
       
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.17.0/math.min.js"></script>

<script src="/scripts/vendor/d3.min.js" charset="utf-8"></script>
<script src="/scripts/vendor/nv.d3.min.js"></script>
<script src="/scripts/vendor/angular-ndv3.min.js"></script>

<!-- highcharts | heatmap -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<script src="/scripts/vendor/numjs.min.js"></script>


<!-- highcharts | heatmap -->
<script src="/scripts/integradora.js"></script>

<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script>
    document.body.style.pointerEvents = 'none'

    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').fadeOut();
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').fadeIn();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    })

    /*  A Web Worker that does not use a File, it create that from a Blob
        @cb_context, The context where the callback functions arguments are, ex: window
        @cb, ["fn_name1", "fn_name2", function (fn1, fn2) {}]
            The callback will be executed, and you can pass other functions to that cb
    */
    function genericWorker(data, cb_context, cb) {
        return new Promise(function (resolve, reject) {

            if (!cb || !Array.isArray(cb))
                return reject("Invalid data")

            var callback = cb.pop()
            var functions = cb

            if (typeof callback != "function" || functions.some((fn)=>{return typeof cb_context[fn] != "function"}))
                return reject(`The callback or some of the parameters: (${functions.toString()}) are not functions`)

            if (functions.length>0 && !cb_context)
                return reject("context is undefined")

            callback = fn_string(callback) //Callback to be executed
            functions = functions.map(fn_name=> fn_string( cb_context[fn_name] ) )

            var worker_file = window.URL.createObjectURL( new Blob(["self.addEventListener('message', function(e) { var bb = {}; var args = []; for (fn of e.data.functions) { bb[fn.name] = new Function(fn.args, fn.body); args.push(fn.name)}; var callback = new Function( e.data.callback.args, e.data.callback.body); args = args.map(function(fn_name) { return bb[fn_name] }); args.unshift(e.data.data);  var result = callback.apply(null, args) ;self.postMessage( result );}, false)"]) )
            var worker = new Worker(worker_file)

            worker.postMessage({ callback, functions, data })

            worker.addEventListener('error', error=> reject(error.message) )

            worker.addEventListener('message', function(e) {
                resolve(e.data), worker.terminate()
            }, false)

            //From function to string, with its name, arguments and its body
            function fn_string (fn) {
                var name = fn.name, fn = fn.toString()

                return { name: name, 
                    args: fn.substring(fn.indexOf("(") + 1, fn.indexOf(")")),
                    body: fn.substring(fn.indexOf("{") + 1, fn.lastIndexOf("}"))
                }
            }
        })
    }


    function loadTemplates($state, goState, $http, $templateCache) {

        var promises = []
        var states = $state.get()

        for (i = 1; i < states.length; i++) {
            var p = $http.get(states[i].templateUrl, { cache: $templateCache })
            promises.push(p)
            p.then(()=> {}, err=> console.log("Error template: ", err))
        }

        Promise.all(promises)
            .then(()=> {}).catch(()=> {}).then(()=> {
                $state.go(goState) ///////////////////////// State inicial                
                document.body.style.pointerEvents = 'all'
            })
    }




</script>


</body>
</html>
