<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualización</title>
    

    <%- include styles.ejs %>
    <link rel="stylesheet" type="text/css" href="/styles/vendor/nv.d3.min.css" />

</head>
<body class="page-dashboard" ng-app="app">

    <header>
        <ul id="slide-out" class="side-nav fixed grey lighten-2">
            <br>
            <li ui-sref="grafico1" ui-sref-active="active"><a href="#" class="teal-text">Grafico</a></li>
            <li ui-sref="otro" ui-sref-active="active"><a href="#" class="teal-text">Otro</a></li>
        </ul>
        <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal">
                <a data-activates="slide-out" class="left button-collapse brand-logo">
                    <i class="material-icons">menu</i>
                </a>
                <h4 class="brand-logo right">Visualizador</h4>                
            </div>
        </nav>
        </div>
    </header>        


    <main>
        <div class="container grafico">
            <ui-view></ui-view>
        </div>
    </main>

    <footer class="page-footer teal">
        <div class="page-footer container teal">
            <div class="row">
                <div class="col l6 s12">
                <ul>
                    <li><a class="white-text" href="http://www.espol.edu.ec/" target="_blank">ESPOL</a></li>
                    <li><a class="white-text" href="https://github.com/fercarvo" target="_blank">Edgar Carvajal</a></li>
                    <li><a class="white-text" href="https://github.com/wjvelez" target="_blank">Washington Vélez</a></li>
                </ul> 
                </div>
                <div class="col l3 s12 right">
                    <h5 class="white-text"><b>Documentaci&oacute;n</b></h5>
                    <ul>
                    <li><a class="white-text" target="_blank" href="https://github.com/fercarvo/DataMinningMicroB">Repositorio GIT</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright teal">
            <div class="container">
                © 2017 Copyright
            </div>
        </div>
    </footer>



<%- include scripts.ejs %>
<script src="/scripts/vendor/d3.min.js" charset="utf-8"></script>
<script src="/scripts/vendor/nv.d3.min.js"></script>
<script src="/scripts/vendor/angular-ndv3.min.js"></script>

<script src="/scripts/integradora.js"></script>

</body>
</html>
