<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Visualización</title>
    
    <link rel="stylesheet" type="text/css" href="/styles/vendor/nv.d3.min.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">

    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body ng-app="app">

    <div class="wrapper">
            <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div id="dismiss">
                <i class="glyphicon glyphicon-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Menú</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dataminnign ESPOL</p>
                <li ui-sref="listener">
                    <a href="#">Listener</a>
                </li>
                <li >
                    <a href="#graficos" data-toggle="collapse" aria-expanded="false">Gŕaficos</a>
                    <ul class="collapse list-unstyled" id="graficos">
                        <li ui-sref="grafico1"><a href="#">Matriz</a></li>
                        <li ui-sref="grafico2"><a href="#">Evolución</a></li>
                    </ul>
                </li>
                
                <li>
                    <a href="#autores" data-toggle="collapse" aria-expanded="false">Contactos</a>
                    <ul class="collapse list-unstyled" id="autores">
                        <li><a href="https://github.com/fercarvo" target="_blank">Edgar Fernando Carvajal</a></li>
                        <li><a href="https://github.com/wjvelez" target="_blank">Washignton Vélez</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li><a href="https://github.com/fercarvo/DataMinningMicroB" target="_blank" class="text-center repo">Repositorio <i class="fa fa-github" style="font-size:20px"></i></a></li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>Menú</span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li ui-sref="home"><a href="#">Principal</a></li>
                            <li ui-sref="listener"><a href="#">Listener</a></li>
                            <li ui-sref="grafico1"><a href="#">Gráfico 1</a></li>
                            <li ui-sref="grafico2"><a href="#">Gráfico 2</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container contenido">
                <ui-view></ui-view>
            </div>

            <div class="footer">
                <p class="text-center">Copyright 2017 &copy;</p>
                <p class="text-center"><span>| </span>Edgar Carvajal <span> - </span> Washington Vélez<span> |</span></p>
            </div>

           
        </div>
        
        <div class="overlay"></div>

    </div>



<%- include scripts.ejs %>
       
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<script src="/scripts/vendor/d3.min.js" charset="utf-8"></script>
<script src="/scripts/vendor/nv.d3.min.js"></script>
<script src="/scripts/vendor/angular-ndv3.min.js"></script>

<!-- highcharts | heatmap -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<!-- highcharts | heatmap -->
<script src="/scripts/integradora.js"></script>

<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').fadeOut();
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').fadeIn();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>


</body>
</html>
